.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 7vh;
	background-color: cornflowerblue;
	z-index: 10;

}

.navbar-menu {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.navbar-menu li{
	display: inline;
	line-height: 7vh;
	vertical-align: middle;
	font-family: 'Open Sans';
	color: white;
	font-size: 2vh;
	height: 100%;

	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.navbar-menu li:not(:last-child) {
	padding-right: 1vh;
	margin-right: 1vh;
	border-right: 1px solid white;
}